header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    padding: 1rem;
    padding-right: 0;
    padding-top: 0;
    
    a {
	text-decoration: none;
	color: darken(white, 20%);
	height: 100%;
	width: 100%;
	transition: all .2s ease-in-out;	
    }

    .active a {
	border-bottom: 4px solid darken(white, 20%);
    }
    
    a {
	width: 100%;
	padding: .5rem .25rem;
	padding-right: 2rem;
	border-bottom: 4px solid transparent;
	
	&:hover {
	    background-color: lighten(black, 20%);
	    border-bottom: 4px solid darken(white, 20%);
	    border-bottom-left-radius: 0;
	    border-bottom-right-radius: 0;
	    transition: all .2s ease-in-out;
	}
	
    }
    
    .logo {
	a {
	    padding-top: 1rem;
	    padding-bottom: 1rem;
	}
    }

    .navigation {
	
	.navigation-list {
	    flex-direction: column;
	    width: 100%;
	    
	    .navigation-element {
		
	    }
	}
    }
}
