@import '~reset-css/sass/_reset.scss';

@import '_variables.scss';

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: "Work Sans", sans-serif;
    line-height: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-shrink: 2;
    max-width: 100%;
    &.flex-grow {
	flex-grow: 100;
    }

    &.flex-shrink {
	flex-shrink: 100;
    }
    
    &.no-scroll {
	overflow: hidden;
    }

    h1 {
	font-size: 3rem;
	line-height: 3rem;
    }
    h2 {
	font-size: 2.6rem;
	line-height: 2.6rem;
    }
    h3 {
	font-size: 2.2rem;
	line-height: 2.2rem;
    }
    h4 {
	font-size: 1.8rem;
	line-height: 1.8rem;
    }
    h5 {
	font-size: 1.4rem;
	line-height: 1.4rem;
    }
    h6 {
	/* font-size: 1rem;
	..
	 */
    }
}

@import '_nav.scss';
@import '_content.scss';
@import '_cards.scss';
